.color-main {
  color: #21b8c6; }

.color-second {
  color: #b45d01; }

.text-main {
  color: #010101; }

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #000;
  color: white; }
